<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../public/css/styles.css">
    <script type="module" src="../public/script/index.js"></script>
</head>
<body>
<section class="forms-section">
    <h1 class="section-title">Forms</h1>
    <div class="forms">
        <div id="app" class="form-wrapper is-active">
            <button type="button" class="switcher switcher-login">
                Sign in
                <span class="underline"></span>
            </button>
            <form action="#" @submit.prevent="login" class="form form-login">
                <fieldset>
                    <legend>Please, enter your email and password for login.</legend>
                    <div class="input-block">
                        <label for="login-email">E-mail</label>
                        <input v-model="email" id="login-email" type="email" required>
                    </div>
                    <div class="input-block">
                        <label for="login-password">Password</label>
                        <input v-model="password" id="login-password" type="password" required autocomplete="username">
                    </div>
                </fieldset>
                <button type="submit" class="btn-login">Login</button>
            </form>
        </div>
        <div class="form-wrapper">
            <button type="button" class="switcher switcher-signup">
                Sign Up
                <span class="underline"></span>
            </button>
            <form class="form form-signup" @submit.prevent="signUp">
                <fieldset>
                    <legend>Please, enter your email, password and password confirmation for sign up.</legend>
                    <div class="input-block">
                        <label for="signup-email">E-mail</label>
                        <input v-model="email" id="signup-email" type="email" required>
                    </div>
                    <div class="input-block">
                        <label for="signup-password">Password</label>
                        <input v-model="password" id="signup-password" type="password" required autocomplete="password">
                    </div>
                    <div class="input-block">
                        <label for="signup-password-confirm">Confirm password</label>
                        <input v-model="confirmPassword" id="signup-password-confirm" type="password" required autocomplete="password">
                    </div>
                </fieldset>
                <button type="submit" class="btn-signup">Continue</button>
            </form>
        </div>
    </div>
</section>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
    const { createApp, ref } = Vue

    createApp({
        setup() {
            const message = ref('Hello vue!')
            const email = ref('');
            const password = ref('');
            const confirmPassword = ref('');
            new_record = ref([]);
            users = ref([])
            

            const signUp = () => {
                if (password.value !== confirmPassword.value) {
                    alert('Password and Confirm Password must match.');
                    return;
                } 
            const emailValue = email.value;
            const passwordValue = password.value;    
            const userData = {
                    email: emailValue,
                    password: passwordValue,
                }; 
            // Guardar los datos en el Local Storage
            localStorage.setItem('userData', JSON.stringify(userData)); 
            this.users.push(userData);



            alert('Registro exitoso. Puedes iniciar sesión ahora.');
            };
            email.value = '';
            password.value = '';
            confirmPassword.value = '';   
        return {
            message,
            email,
            password,
            confirmPassword,
            signUp,
        };
        },
    methods:{
        async login()
        {
             const storedUserData = localStorage.getItem('userData');
            if (storedUserData) {
                const userData = JSON.parse(storedUserData);
                // Utiliza los datos ingresados por el usuario
                const emailValue = email.value;
                const passwordValue = password.value;
                const userFound = users.value.find(user => user.email === emailValue && user.password === passwordValue);

                // Construye el objeto JSON para la solicitud
                const loginData = {
                    "username": emailValue, // Usamos el email como username
                    "password": passwordValue,
                    "request_token": ""
                };

                var myHeaders = new Headers();
                myHeaders.append("Content-Type", "application/json");
                myHeaders.append("Authorization", "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI5ODg4OWYwYjM3M2FkYjVkYjVkODU3YzYxMmZkMzhlYSIsInN1YiI6IjY1MTRiNzg1OTNiZDY5MDExYjhjMWE3YiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.c2yWsF5WIwe_KghBB10OhjsrWx9cxiw1vCdd1Cy5sw8");

                var raw = JSON.stringify(loginData);

                var requestOptions = {
                    method: 'POST',
                    headers: myHeaders,
                    body: raw,
                    redirect: 'follow'
                };
                    fetch("https://api.themoviedb.org/3/authentication/token/validate_with_login", requestOptions)
                    .then(response => response.json())
                    .then(result => {
                        console.log(result)
                        console.log(result.success)
                    })
                    .catch(error => console.log('error', error));
                    if (userFound) {
                    alert('Inicio de sesión exitoso.');
                }
            } else {
                alert('Usuario no encontrado. Regístrate primero.');
            }

            return false;
        }
    }
    }).mount('#app')    
</script>
</body>
</html>